In [1]:
import pandas as pd
import numpy as np

In [2]:
housing_df = pd.read_csv('housing.csv')

In [3]:
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
#Разбейте датасет на тренировочную, валидационную и тестовую выборку
from sklearn.model_selection import train_test_split

In [5]:
housing_train_val, housing_test = train_test_split(housing_df,test_size=0.1, random_state= 0)

In [6]:
housing_train_val.shape

(18576, 10)

In [7]:
housing_train, housing_val = train_test_split(housing_train_val,test_size=0.1, random_state=0)

In [8]:
housing_train.shape

(16718, 10)

In [9]:
housing_val.shape

(1858, 10)

In [10]:
housing_test.shape

(2064, 10)

In [11]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4161,-118.18,34.11,44.0,1346.0,398.0,1204.0,344.0,2.3984,152200.0,<1H OCEAN
9910,-122.29,38.31,25.0,4927.0,1005.0,2756.0,998.0,2.7325,162900.0,NEAR BAY
11084,-117.84,33.84,23.0,6157.0,1129.0,2817.0,1073.0,5.0629,232600.0,<1H OCEAN
8772,-118.34,33.80,33.0,2194.0,469.0,987.0,397.0,5.0951,318900.0,<1H OCEAN
6806,-118.09,34.09,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
11891,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0,INLAND
14521,-117.14,32.90,16.0,3217.0,NaN,2054.0,687.0,4.2234,162100.0,<1H OCEAN
16943,-122.31,37.55,52.0,900.0,183.0,371.0,166.0,3.2500,296400.0,NEAR OCEAN
3036,-119.20,35.37,6.0,7383.0,1095.0,3415.0,1059.0,5.3119,157300.0,INLAND
20002,-119.21,36.10,30.0,1471.0,373.0,1418.0,357.0,1.7432,42500.0,INLAND

In [12]:
housing_train.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

#Проведите преобразование категориального признака ocean_proximity через OneHot или Dummy-кодировку

In [13]:
DUMMY_SEP = '__'

In [14]:
housing_train_dummies = pd.get_dummies(housing_train, prefix_sep=DUMMY_SEP)

In [15]:
housing_train_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__ISLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
4161,-118.18,34.11,44.0,1346.0,398.0,1204.0,344.0,2.3984,152200.0,1,0,0,0,0
9910,-122.29,38.31,25.0,4927.0,1005.0,2756.0,998.0,2.7325,162900.0,0,0,0,1,0
11084,-117.84,33.84,23.0,6157.0,1129.0,2817.0,1073.0,5.0629,232600.0,1,0,0,0,0
8772,-118.34,33.80,33.0,2194.0,469.0,987.0,397.0,5.0951,318900.0,1,0,0,0,0
6806,-118.09,34.09,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11891,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0,0,1,0,0,0
14521,-117.14,32.90,16.0,3217.0,NaN,2054.0,687.0,4.2234,162100.0,1,0,0,0,0
16943,-122.31,37.55,52.0,900.0,183.0,371.0,166.0,3.2500,296400.0,0,0,0,0,1
3036,-119.20,35.37,6.0,7383.0,1095.0,3415.0,1059.0,5.3119,157300.0,0,1,0,0,0
20002,-119.21,36.10,30.0,1471.0,373.0,1418.0,357.0,1.7432,42500.0,0,1,0,0,0

In [16]:
train_dummy_columns = [c for c in housing_train_dummies.columns if DUMMY_SEP in c]

In [17]:
dummy_columns_to_remove = [c for c in train_dummy_columns if housing_train_dummies[c].sum() < 10]

In [18]:
dummy_columns_to_remove

['ocean_proximity__ISLAND']

In [19]:
housing_train_dummies = housing_train_dummies.drop(dummy_columns_to_remove, axis=1)

In [20]:
housing_train_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
4161,-118.18,34.11,44.0,1346.0,398.0,1204.0,344.0,2.3984,152200.0,1,0,0,0
9910,-122.29,38.31,25.0,4927.0,1005.0,2756.0,998.0,2.7325,162900.0,0,0,1,0
11084,-117.84,33.84,23.0,6157.0,1129.0,2817.0,1073.0,5.0629,232600.0,1,0,0,0
8772,-118.34,33.80,33.0,2194.0,469.0,987.0,397.0,5.0951,318900.0,1,0,0,0
6806,-118.09,34.09,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11891,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0,0,1,0,0
14521,-117.14,32.90,16.0,3217.0,NaN,2054.0,687.0,4.2234,162100.0,1,0,0,0
16943,-122.31,37.55,52.0,900.0,183.0,371.0,166.0,3.2500,296400.0,0,0,0,1
3036,-119.20,35.37,6.0,7383.0,1095.0,3415.0,1059.0,5.3119,157300.0,0,1,0,0
20002,-119.21,36.10,30.0,1471.0,373.0,1418.0,357.0,1.7432,42500.0,0,1,0,0

In [21]:
def get_dummies_for_test(train_columns, test_df, dummy_sep):
    initial_df = pd.get_dummies(test_df, prefix_sep=dummy_sep)
#     missing_in_train = set(test_df.columns) - set(train_columns)
    missing_in_test = set(train_columns) - set(initial_df.columns)
    
    for c in missing_in_test:
        initial_df[c] = 0
    return initial_df.loc[:,train_columns].copy()

In [22]:
housing_test_dummies = get_dummies_for_test(housing_train_dummies.columns, housing_test, DUMMY_SEP)
housing_val_dummies = get_dummies_for_test(housing_train_dummies.columns, housing_val, DUMMY_SEP)

In [23]:
housing_val_dummies

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity__<1H OCEAN,ocean_proximity__INLAND,ocean_proximity__NEAR BAY,ocean_proximity__NEAR OCEAN
11145,-117.98,33.85,23.0,2089.0,377.0,1085.0,362.0,4.7650,181500.0,1,0,0,0
15163,-116.99,32.96,17.0,5509.0,866.0,2748.0,817.0,4.8854,181300.0,1,0,0,0
13569,-117.28,34.14,40.0,2364.0,438.0,968.0,416.0,3.4906,93300.0,0,1,0,0
3959,-118.60,34.20,10.0,2869.0,941.0,2162.0,829.0,3.2297,150000.0,1,0,0,0
4543,-118.21,34.02,45.0,792.0,203.0,872.0,188.0,2.6875,129700.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1556,-121.96,37.81,12.0,6488.0,778.0,2404.0,765.0,8.3188,403400.0,1,0,0,0
8291,-118.15,33.76,36.0,2916.0,785.0,1183.0,749.0,3.5985,500001.0,0,0,0,1
15720,-122.45,37.78,52.0,1345.0,291.0,560.0,294.0,3.7159,494400.0,0,0,1,0
11223,-117.94,33.81,33.0,1891.0,334.0,932.0,343.0,4.2759,238000.0,1,0,0,0
4020,-118.51,34.18,37.0,1893.0,365.0,911.0,324.0,4.8036,295300.0,1,0,0,0

Замените признаки total_rooms и total_bedrooms на average_rooms и average_bedrooms (поделив на households).

In [28]:
housing_df.rename({'total_rooms':'average_rooms','total_bedrooms':'average_bedrooms'}, axis=1, inplace=True)

In [29]:
housing_df

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,880.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,7099.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,1467.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,1274.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,1627.0
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,1665.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,697.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,2254.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,1860.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,2785.0

В признаке average_bedrooms (total_bedrooms) есть отсутствующие значения. Определите число экземпляров данных, для которых этот признак отсутствует. Придумайте и обоснуйте стратегию заполнения пропусков в этой задаче. Заполните пропуски.

In [46]:
housing_df.isnull().sum(axis = 0)

longitude               0
latitude                0
housing_median_age      0
average_rooms           0
average_bedrooms      207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
average_rooms           0
dtype: int64

In [61]:
housing_df["average_bedrooms"] = housing_df["average_bedrooms"].fillna(housing_df.mean)

In [62]:
housing_df

,longitude,latitude,housing_median_age,average_rooms,average_bedrooms,population,households,median_income,median_house_value,ocean_proximity,average_rooms
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,880.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,7099.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,1467.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,1274.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,1627.0
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,1665.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,697.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,2254.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,1860.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,2785.0

In [63]:
housing_df.isnull().sum(axis = 0)

longitude             0
latitude              0
housing_median_age    0
average_rooms         0
average_bedrooms      0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
average_rooms         0
dtype: int64

Нормализуйте признаки longitude и latitude (сделайте так, чтобы каждый признак имел среднее значение 0 и дисперсию 1 внутри обучающей выборки)

In [64]:
from sklearn import preprocessing

In [65]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4161,-118.18,34.11,44.0,1346.0,398.0,1204.0,344.0,2.3984,152200.0,<1H OCEAN
9910,-122.29,38.31,25.0,4927.0,1005.0,2756.0,998.0,2.7325,162900.0,NEAR BAY
11084,-117.84,33.84,23.0,6157.0,1129.0,2817.0,1073.0,5.0629,232600.0,<1H OCEAN
8772,-118.34,33.80,33.0,2194.0,469.0,987.0,397.0,5.0951,318900.0,<1H OCEAN
6806,-118.09,34.09,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
11891,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0,INLAND
14521,-117.14,32.90,16.0,3217.0,NaN,2054.0,687.0,4.2234,162100.0,<1H OCEAN
16943,-122.31,37.55,52.0,900.0,183.0,371.0,166.0,3.2500,296400.0,NEAR OCEAN
3036,-119.20,35.37,6.0,7383.0,1095.0,3415.0,1059.0,5.3119,157300.0,INLAND
20002,-119.21,36.10,30.0,1471.0,373.0,1418.0,357.0,1.7432,42500.0,INLAND

In [79]:
from sklearn.preprocessing import Normalizer

In [83]:
features_to_normalize = ['longitude', 'latitude']
# could be ['A','B'] 
 
housing_train[features_to_normalize] = housing_train[features_to_normalize].apply(lambda x:(x-x.min()) / (x.max()-x.min()))

In [84]:
housing_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4161,0.614542,0.166844,44.0,1346.0,398.0,1204.0,344.0,2.3984,152200.0,<1H OCEAN
9910,0.205179,0.613177,25.0,4927.0,1005.0,2756.0,998.0,2.7325,162900.0,NEAR BAY
11084,0.648406,0.138151,23.0,6157.0,1129.0,2817.0,1073.0,5.0629,232600.0,<1H OCEAN
8772,0.598606,0.133900,33.0,2194.0,469.0,987.0,397.0,5.0951,318900.0,<1H OCEAN
6806,0.623506,0.164718,36.0,1068.0,246.0,949.0,250.0,2.3462,188500.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
11891,0.695219,0.153029,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0,INLAND
14521,0.718127,0.038257,16.0,3217.0,NaN,2054.0,687.0,4.2234,162100.0,<1H OCEAN
16943,0.203187,0.532412,52.0,900.0,183.0,371.0,166.0,3.2500,296400.0,NEAR OCEAN
3036,0.512948,0.300744,6.0,7383.0,1095.0,3415.0,1059.0,5.3119,157300.0,INLAND
20002,0.511952,0.378321,30.0,1471.0,373.0,1418.0,357.0,1.7432,42500.0,INLAND